.DS_Store
node_modules/
/dist/*
npm-debug.log*
yarn-debug.log*
/yarn-error.log
/package-lock.json
.uglify_cache
.eslintcache
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/.history
/package-lock.json
nohup.out
.eslintcache
*.lock
